<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menu-content">
      <div class="menu-items-top">
        <ion-menu-toggle auto-hide="false">

          <ion-item routerLink="/registroestudiante">
            <ion-icon slot="start" name="book-outline"></ion-icon>
            <ion-label>Registro de Estudiantes</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>

      <ion-item class="menu-items-bottom" routerLink="/home" (click)="logout()">
        <ion-icon slot="start" name="exit-outline"></ion-icon>
        <ion-label>Cerrar Sesion</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons>
      <ion-title>{{TitleHeader}}</ion-title>
      <ion-button slot="end" shape="round" name="person-circle-outline"><ion-icon name="person-circle-outline">
        </ion-icon> {{ username
        }}</ion-button>
    </ion-buttons>
    <ion-title > Representante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      
      <ion-col size-md="4" *ngFor="let estudiante of representados">
        <ion-card>
          <ion-card-header>
            <ion-row>
            <ion-col size="auto">
              <ion-icon name="person-outline" class="icon-xl" button (click)="GetDataIdEstudiante(estudiante)" (click)="showUserInfo()"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-card-title>{{ estudiante.NombreEst }} {{ estudiante.ApellidoEst }}</ion-card-title>
                <ion-card-subtitle>Cédula: {{ estudiante.cedula }}</ion-card-subtitle>
                <ion-card-subtitle> Curso: {{ estudiante.curso_idCurso }} </ion-card-subtitle>
            </ion-col>
          </ion-row>
            <ion-row>
              <ion-button expand="block" routerLink="/vista-esquela-representante" class="custom-buttonregister" (click)="GetDataIdEstudiante(estudiante)">
                VER ESQUELAS
                <ion-icon slot="start" name="document-text-outline"></ion-icon>
              </ion-button>
              <ion-button expand="block" routerLink="/vista-atrasos-representante" class="custom-buttonregister" (click)="GetDataIdEstudiante(estudiante)">
                VER ATRASOS
                <ion-icon slot="start" name="document-text-outline"></ion-icon> </ion-button></ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>


