<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="filtros">
      <ion-icon name="folder-open-outline"></ion-icon>
      <ion-label>ARCHIVOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atrasos">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>REGISTRAR ATRASOS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon name="options"></ion-icon>
      <ion-label>OPCIONES</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
