<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons>
      <ion-title>UNIDAD EDUCATIVA ANTONIO ÁVILA MALDONADO </ion-title>
      <ion-button slot="end" shape="round"
        name="person-circle-outline"><ion-icon name="person-circle-outline">
        </ion-icon> {{ username
        }}</ion-button>
    </ion-buttons>
    <ion-title> Inspector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col size="2"></ion-col>
    <ion-list>
      <ion-item *ngFor="let atrasos of atrasosByInspector">
        <ion-label>
          <h1>FECHA :  {{ atrasos.registroFecha }} </h1>
          <p>ESTUDIANTE : {{ atrasos.estudiante.NombreEst }} {{ atrasos.estudiante.ApellidoEst }}</p>
          
          <p>CURSO : {{ atrasos.estudiante.curso_idCurso }} </p>
          
       
        </ion-label>
      </ion-item>
    </ion-list>

