
<ion-header>
 

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons>
      <ion-title>UNIDAD EDUCATIVA ANTONIO ÁVILA MALDONADO </ion-title>
      <ion-button slot="end" shape="round"
        name="person-circle-outline"><ion-icon name="person-circle-outline">
        </ion-icon> {{username}}</ion-button>
    </ion-buttons>
    <ion-title> Inspector</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item routerLink="/curso-crud">
      <ion-label>Cursos <ion-icon name="people" size="large" routerLink="/curso-crud"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Asignaturas  <ion-icon name="flask" size="large"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Docentes  <ion-icon name="man"size="large"></ion-icon><ion-icon name="woman"size="large"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Representantes <ion-icon name="person"size="large"></ion-icon></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Estudiantes <ion-icon name="happy"size="large"></ion-icon></ion-label>
    </ion-item>
  </ion-list>
</ion-content>