.table-header {
  background-color: #3086d6;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.table-row {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.action-buttons ion-button {
  margin-right: 5px; /* Espacio entre botones */
}

.add-button {
  margin-top: 20px;
  width: 100%;
}
