<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/filtros"></ion-back-button>
    </ion-buttons>
    <ion-title>Generar reporte de atrasoso por estudiante </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="4" offset-lg="4"> 
        <ion-list>
          <div class="image-center">
            <img src="assets/img/escudo(1).png" alt="Escudao" style="width: 100px; height: auto;">
          </div>
          <br>
          <ion-label>
            <h3>ESTUDIANTES 
              
            </h3>
          </ion-label>

          
          <ion-item>
            <ion-label position="floating">Seleccione el curso</ion-label>
            <ion-select [(ngModel)]="selectedCursoId" (ionChange)="onCursoChange($event)">
              <ion-select-option *ngFor="let curso of cursos" [value]="curso.idCurso">{{ curso.idCurso }}</ion-select-option>
            </ion-select>
          </ion-item>
        
          <ion-item *ngIf="estudiantes.length > 0">
            <ion-label position="floating">Seleccione el estudiante</ion-label>
            <ion-select [(ngModel)]="selectedEstudianteId">
              <ion-select-option *ngFor="let estudiante of estudiantes" [value]="estudiante.cedula">{{ estudiante.NombreEst }} {{ estudiante.ApellidoEst }}</ion-select-option>
            </ion-select>
          </ion-item>
     
          <ion-button (click)="downloadFile()">DESCARGAR REPORTE <ion-icon name="document-text-outline"></ion-icon> </ion-button>
         

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>