<!-- Linea de -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>UNIDAD EDUCATIVA ANTONIO ÁVILA MALDONADO</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Segunda linea de encabezado  -->
<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Representante</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Targeta de registro -->

<ion-content class="ion-padding">
  
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="4" offset-lg="4"> 
  <ion-list>
    <div class="image-center">
      <img src="assets/img/escudo(1).png" alt="Escudo" style="width: 100px; height: auto ;">
    </div>
    <ion-card-subtitle>Ingrese sus datos</ion-card-subtitle>
    <form [formGroup]="formularioRepresentantes" (ngSubmit)="registrarRepresentante()">
    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cédula</ion-label>
      <ion-input type="text" formControlName="cedula"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="!formularioRepresentantes.valid" class="custom-buttonregister"> <ion-icon name="add-outline" ></ion-icon>Registrar</ion-button>
  </form>
  <ion-button expand="block" routerLink="/home" class="custom-buttonback"> <ion-icon name="arrow-back-outline" ></ion-icon>Volver al Inicio</ion-button>
  </ion-list>


</ion-col>
</ion-row>
</ion-grid>
</ion-content>
