<ion-header>
  <ion-toolbar color="primary">
    <ion-title>UNIDAD EDUCATIVA ANTONIO ÁVILA MALDONADO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Página No Autorizada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h1>403</h1>
    <p>No tienes autorización para acceder a esta página.</p>
    <p>Por favor, contacta con el administrador del sistema si crees que esto es un error.</p>
    <ion-button expand="full" (click)="goBack()">De acuerdo</ion-button>
  </div>
</ion-content>
