<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/configuracion"></ion-back-button>
    </ion-buttons>
    <ion-title>CRUD DE ASIGNATURAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><H2>ID DE LA ASIGNARTURA</H2></ion-col>
      <ion-col><H2>NOMBRE</H2></ion-col>
      <ion-col><H2>DESCRIPCION</H2></ion-col>
      <ion-col><H2>ACCIONES</H2></ion-col>
    </ion-row>
    <ion-row *ngFor="let asignatura of asignaturas">
      <ion-col>{{ asignatura.idasignatura }}</ion-col>
      <ion-col>{{ asignatura.nombre }}</ion-col>
      <ion-col>{{ asignatura.descripcion }}</ion-col>
      <ion-col>
        <ion-button color="warning"  >EDITAR</ion-button>
        <ion-button color="danger" color="danger" (click)="deleteAsignatura(asignatura.idasignatura)">ELIMINAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="addAsignatura()">AGREGAR CURSO</ion-button>
</ion-content>