<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/configuracion"></ion-back-button>
    </ion-buttons>
    <ion-title>CRUD DE ASIGNATURAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="table-header"> 
      <ion-col><H2>ID DE LA ASIGNARTURA</H2></ion-col>
      <ion-col><H2>NOMBRE</H2></ion-col>
      <ion-col><H2>DESCRIPCION</H2></ion-col>
      <ion-col><H2>ACCIONES</H2></ion-col>
    </ion-row>
    <ion-row *ngFor="let asignatura of asignaturas" class="table-row">
      <ion-col>{{ asignatura.idasignatura }}</ion-col>
      <ion-col>{{ asignatura.nombre }}</ion-col>
      <ion-col>{{ asignatura.descripcion }}</ion-col>
      <ion-col class="action-buttons" >
        <ion-button color="warning"  >EDITAR</ion-button>
        <ion-button color="danger" color="danger" (click)="deleteAsignatura(asignatura.idasignatura)">ELIMINAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!--boton flotante-->
<ion-fab  slot="fixed" vertical="bottom" horizontal="end" (click)="addAsignatura()"  class="tooltip-container">
  <ion-fab-button>  <ion-icon name="add"></ion-icon>
  </ion-fab-button>
    <span class="tooltip-text">Click para Registrar una nueva Asignatura</span>
</ion-fab>