/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

//estilo para centrar el logo de la institucion
.image-center {
    display: flex;
    justify-content: center;
  }
//estilos de los botones de registrar y volver atras
.custom-buttonback {
    --background: hsl(210, 4%, 28%);
    --color: #6d9eff;
    --border-radius: 20px;
    --padding: 10px 20px;
  }
  .custom-buttonregister {
    --background-color: blue;
    //--color: white;
    --border-radius: 20px;
    --padding: 10px 20px;
  }

  //estilo para la configuarion de inspector y admin
  .custom-icon {
    font-size: 2rem; /* Ajusta el tamaño del icono según sea necesario */
    color: var(--ion-color-primary); /* Cambia el color del icono */
    margin-right: 10px; /* Espacio entre el icono y la etiqueta */
    transition: color 0.3s ease; /* Añade una transición suave al color */
  }
  
  .custom-label {
    font-size: 1.2rem; /* Ajusta el tamaño de la etiqueta según sea necesario */
    //font-weight: bold; /* Haz que la etiqueta sea negrita */
    color: var(--ion-color-dark); /* Cambia el color del texto */
    transition: color 0.3s ease; /* Añade una transición suave al color */
  }
  
  .interactive-item {
    transition: background-color 0.3s ease; /* Añade una transición suave al fondo */
    cursor: pointer; /* Cambia el cursor al pasar por el ítem */
  }
  
  .interactive-item:hover {
    background-color: var(--ion-color-light); /* Cambia el color de fondo al pasar el puntero */
  }
  
  .interactive-item:hover .custom-icon {
    color: var(--ion-color-secondary); /* Cambia el color del icono al pasar el puntero */
  }
  
  .interactive-item:hover .custom-label {
    color: var(--ion-color-secondary); /* Cambia el color de la etiqueta al pasar el puntero */
  }
  
  //estilo para el boton flotante de registros
  .tooltip-container {
    //position: relative;
    display: inline-block;
  }
  
  .tooltip-container .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%; /* Posición del tooltip */
    left: 5%;
    margin-left: -91px;
    opacity: 0;
    transition: opacity 0.3s;

  }
  
  .tooltip-container .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%; /* En la parte inferior del tooltip */
    left: 50%;
    margin-left: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  //barcode-scanning
body.barcode-scannig-active{
  visibility: hidden;
  --background: transparent;
  --ion-backgound-color: transparent;
}
.barcode-scanning-modal{
  visibility: visible;
}
@media (prefers-color-scheme:dark){
  .barcode-scannig-active{
    visibility: hidden;
    --background: transparent;
    --ion-backgound-color: transparent;
  }
}

ion-content {
  --background: transparent;
}

.square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  width: 200px;
  height: 200px;
  border: 6px solid white;
  box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.3);
}
