<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons>
      <ion-title>UNIDAD EDUCATIVA ANTONIO ÁVILA MALDONADO </ion-title>
    </ion-buttons>
    <ion-title > Inspector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Atrasos de Estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="4" offset-lg="4"> 
        <ion-list>
          <div class="image-center">
            <img src="assets/img/escudo(1).png" alt="Escudao" style="width: 100px; height: auto;">
          </div>
          <ion-card-subtitle>Ingrese sus datos</ion-card-subtitle>
          <form [formGroup]="formularioatrasos" >
            <ion-item>
              <ion-label position="floating">Nombres</ion-label>
              <ion-input type="text" formControlName="NombreEst"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Apellidos</ion-label>
              <ion-input type="text" formControlName="ApellidoEst"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Cédula</ion-label>
              <ion-input type="text" formControlName="cedula"></ion-input>
            </ion-item>
            <ion-item>
              
              <ion-select formControlName="curso_idCurso" aria-label="Cursos" interface="popover" placeholder="Seleciona el Curso">
                <ion-select-option *ngFor="let curso of cursos" [value]="curso.idCurso">     {{ curso.idCurso }}             </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button routerLink="/scanner-qr"> Scanear QR</ion-button>

            <ion-button type="submit" expand="block" [disabled]="!formularioatrasos.valid" class="custom-buttonregister"> <ion-icon name="add-outline" ></ion-icon>Registrar</ion-button>
          </form>
          <ion-button expand="block" routerLink="/paguinaprincipalrepresentante" class="custom-buttonback"> <ion-icon name="arrow-back-outline" ></ion-icon>Volver al Atras</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>




